{% extends 'components/base.html' %}
{% load i18n %}

{% block header %}{% translate "Tasks" %}{% endblock %}

{% block content %}
<a class="nav-link" href="{% url 'tasks:create' %}">{% translate 'Create task' %}</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate "Name" %}</th>
      <th>{% translate "Status" %}</th>
      <th>{% translate "Author" %}</th>
      <th>{% translate "Implementer" %}</th>
      <th>{% translate "Date of creation" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for task in object_list %}
    <tr>
      <td>{{ task.id }}</td>
      <td><a href="{% url "tasks:preview" task.id %}">{{ task.name }}</a></td>
      <td>{{ task.status }}</td>
      <td>{{ task.author }}</td>
      <td>{{ task.implementer }}</td>
      <td>{{ task.date_created }}</td>
      <td>
        <a href="{% url "tasks:update" task.id %}">{% translate "Change" %}</a>
        <br>
        <a href="{% url "tasks:delete" task.id %}">{% translate "Delete" %}</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan=7>{% translate "No tasks yet." %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
